[submodule "cpp-00"]
	path = cpp-00
	url = https://github.com/rodrigolonghi/cpp-00
[submodule "cpp-01"]
	path = cpp-01
	url = https://github.com/rodrigolonghi/cpp-01
[submodule "cpp-02"]
	path = cpp-02
	url = https://github.com/rodrigolonghi/cpp-02
[submodule "cpp-03"]
	path = cpp-03
	url = https://github.com/rodrigolonghi/cpp-03
[submodule "cpp-04"]
	path = cpp-04
	url = https://github.com/rodrigolonghi/cpp-04
[submodule "cpp-05"]
	path = cpp-05
	url = https://github.com/rodrigolonghi/cpp-05
[submodule "cpp-06"]
	path = cpp-06
	url = https://github.com/rodrigolonghi/cpp-06
